<div class="Login">
    <h1>Login</h1>
    <h2>New user? Sign up here</h2>
    <%= form_for(:user) do |f| %>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <%= f.password_field :password, placeholder: "Password", class: "form-control"  %>
      </div>
      <%= f.submit 'Sign in', class: 'btn btn-primary' %>
    <% end %>
    <div>
        <ul class="connect">
           <li class="social-icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
           <li class="social-icons"><i class="fa fa-twitter" aria-hidden="true"></i></li>
           <li class="social-icons"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
        </ul>
    </div>
</div>
		

