<div>
    <ul>
        <li>Personal Information</li>
        <li>View Health Diary History</li>
        <li>Edit Health Diary</li>
        <li>Talk to a Health Professional</li>
        <li>Find a Healthcare Facility</li>
    </ul>
</div>