<div class="Profile-nav">
    <ul>
        <li class="Profile-links">Personal Information</li>
        <li class="Profile-links">View Health Diary History</li>
        <li class="Profile-links">Edit Health Diary</li>
        <li class="Profile-links">Talk to a Health Professional</li>
        <li class="Profile-links">Find a Healthcare Facility</li>
        <li class="Profile-links">Search for information on condition</li>
    </ul>
</div>

