<div class="row">
    <div class="col-md-4  col-md-offset-4 text-center">
      <div class="well diary-form">
          <h2>Diary</h2>
        <div class="form-group">
          Period: <input type="checkbox" name="healthpoint1"><br>
        </div>
        <div class="form-group">
          Itchiness: <input type="checkbox" name="healthpoint2"><br>
        </div>
        <div class="form-group">
          Tenderness: <input type="checkbox" name="healthpoint3"><br>
        </div>
        <div class="form-group">
          Swelling: <input type="checkbox" name="healthpoint4"><br>
        </div>
        <div class="form-group">
          Dryness: <input type="checkbox" name="healthpoint5"><br>
        </div>
        
        
        <div class="form-group">
          Diary entry: <br>
          <input type="text_area" name="diary_entry" style="    height: 150px;
    width: 200px;     
    border: 1px solid;"><br>
        </div>
      </div>
    </div>
</div>