<div class="row">
    <div class="col-md-4  col-md-offset-4 text-center">
      <div class="well">
          <center>
    <img src="/images/iPhone_7_Copy_2.png" 
    alt="mood graph"  style="width:100%;"
        
        id="image1">
      </center>
          
    </div>
    </div>
    </div>